[submodule "SQL"]
	path = SQL
	url = https://github.com/Manisha-sharda-Prasad/SQL.git
[submodule "python-projects"]
	path = python-projects
	url = https://github.com/Manisha-sharda-Prasad/python-projects.git
